---
---

@import "{{ site.theme }}";

html {
  // scroll-behavior: smooth;
}

#main_content_wrap {
  display: flex;
  min-height: 200px;
  >div:not(:nth-child(2)) {
    flex-grow: 1;
    position: relative;
  }
}

a>code {
  color: #0F79D0;
}

#main_content {
  width: 700px;
  max-width: 700px;
}

#main_directory {
  position: sticky;
  float: right;
  top: 0;
  margin-right: 20px;
  padding-top: 40px;
}

#backtotop {
  position: fixed;
  bottom: 150px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: white;
  border: #888888 1px solid;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  transition: 0.5s linear transform;
}
#backtotop.btt-hidden {
  transform: translateX(60px);
}

blockquote:hover {
  background-color: #00000010;
}

#main_content {
  h1, h2, h3, h4, h5, h6 {
    &[id] {
      cursor: pointer;
      &:hover {
        color: #0F79D0;
        &::after {
          content: '🔗';
        }
      }
    }
  }
}