---
---

@import "{{ site.theme }}";

#main_content_wrap {
  display: flex;
}

#main_content {
  width: 700px;
}

#main_content_wrap > div:not(:nth-child(2)) {
  flex-grow: 1;
  position: relative;
}

#main_directory {
  position: absolute;
  right: 0;
  margin-right: 20px;
}